@page "/"
@using ApiBureau.Bullhorn.Api.Helpers;
@using CodeCapital.System.Text.Json;
@using System.Text;
<PageTitle>Bullhorn API Browser</PageTitle>
<div class="row mt-4">
    <div class="col-md-12 col-lg-12">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <InputRadioGroup Value="_selectedType" Name="filter" TValue="string" ValueExpression="() => _selectedType" ValueChanged="(e) => SetType(e)">
                @foreach (var item in _types)
                {
                    <div class="form-check form-check-inline">
                        <InputRadio Name="filter" Value="@item" id="@($"radio-{item}")" class="form-check-input action" />
                        <label class="form-check-label action" for="@($"radio-{item}")">@item</label>
                    </div>
                }
            </InputRadioGroup>
            <InputTextArea @bind-Value="_query" rows="5" class="form-control mt-3" id="exampleFormControlTextarea1" />
            <div class="mt-3 d-flex justify-content-between">
                <button class="btn btn-primary btn-sm" @onclick="SubmitAsync">
                    @if (_isLoading)
                    {
                        <i class="fa-solid fa-spinner fa-spin-pulse me-2"></i>
                    }
                    Submit
                </button>
                <button class="btn btn-info btn-sm" @onclick="() => _showExamples = !_showExamples">Toggle examples</button>
                @*<button class="btn btn-secondary" @onclick="GetData">Get Data</button>*@
            </div>
            @if (_showExamples)
            {
                <p class="mt-3"><a href="https://bullhorn.github.io/rest-api-docs/" target="_blank" rel="noopener">REST API Documentation</a></p>

                <Example Type="query" CodeUri="@_examples["CorporationDepartment1"]">
                    <Description>Get selected columns from <span class="text-info">Corporation Departments</span>, order by enabled and then dateAdded</Description>
                </Example>

                <Example Type="query" CodeUri="@_examples["CorporationDepartment2"]">
                    <Description>Get selected columns from <span class="text-info">Corporation Departments</span>, order by dateAdded descending</Description>
                </Example>

                <Example Type="search" CodeUri="@_examples["Candidate1"]">
                    <Description>Get selected columns from <span class="text-info">Candidates</span> from date to current date, date format: <i>yyyymmddhhmmss</i></Description>
                </Example>

                <p>
                    3) Get all columns from Sendout with more conditions:
                    date format: 'dd/mm/yyyy hh:mm:ss'
                    <pre>query/Sendout?fields=id,candidate,dateAdded,jobOrder&where=(id>0) AND dateAdded > '10/02/2017 00:00:00' AND candidate.lastName='Smith'</pre>
                </p>
                <p>
                    4) Get selected columns from Placements with more conditions:
                    <pre>query/Placement?fields=status,dateAdded,jobOrder,owner&where=dateAdded > '26/06/2017 00:00:00' AND dateAdded &lt; '21/07/2017 23:59:59' AND owner.id=315</pre>
                </p>
                <p>
                    5) Get selected columns from Candidates from date to current date:
                    date format: yyyymmdd hh:mm:ss'
                    <pre>search/Candidate?fields=id,firstName,dateAdded,owner,source&query=dateAdded:[20170711000000 TO *] AND -source:["" TO *]&sort=dateAdded</pre>
                </p>
                <p>
                    6) Get details about the files:
                    <pre>entity/CandidateFileAttachment/140383?fields=id,contentType</pre>
                    Get Files - entityFiles/Candidate/190922?
                    Get Files, including the file size - entity/Candidate/190922/fileAttachments?fields=id,contentType
                </p>
                <p>
                    7) Other:
                    <pre>search/Candidate?fields=id,name,customDate1&query=id:[0 TO *]&sort=-customDate1</pre>
                    <pre>query/Sendout?fields=id,candidate,dateAdded,jobOrder&where=candidate.id=1170383&orderBy=dateAdded</pre>
                    <pre>query/Appointment?fields=id,candidateReference,dateAdded&where=candidateReference.id=1171312&orderBy=dateAdded</pre>
                    <pre>query/JobOrderEditHistoryFieldChange?fields=newValue,oldValue,display,columnName,editHistory(dateAdded)&where=columnName='status' AND editHistory.dateAdded>'01/01/2021 00:00:00'&orderBy=-id</pre>
                    <pre>search/Note?fields=id,dateAdded,action,commentingPerson&query=dateAdded:[20210101000000 TO *] AND action:'Phone Call'&sort=-dateAdded</pre>
                    <pre>search/Candidate?fields=id,name,owner(id,firstName,lastName),status,dateLastComment,dateAdded&query=isDeleted:0 AND notes.id:"^^action:(Phone Call) AND commentingPerson:(+123456) AND isDeleted:false"&sort=-dateAdded</pre>
                    <pre>search/Candidate?fields=id,name,owner(id,firstName,lastName),status,dateLastComment,dateAdded&query=isDeleted:0 AND notes.id:"^^action:(gdpr \"client call\") AND commentingPerson:(46 355) AND isDeleted:false"&sort=-dateAdded</pre>
                </p>
            }
        </div>
    </div>
    <div class="col-12 mb-3">
        <button class="btn btn-success btn-sm" @onclick="@(() => _displayType = "table")">Table</button>
        <button class="btn btn-success btn-sm" @onclick="@(() => _displayType = "json")">JSON</button>
    </div>
    <div class="col-lg-12 col-xl-6">
        <h5>Result</h5>
        @if (_displayType == "table")
        {
            <table class="table table-sm">
                <thead>
                    <tr>
                        @foreach (var item in _columnNames)
                        {
                            <th>@item</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in _data)
                    {
                        <tr>
                            @foreach (var header in _columnNames)
                            {
                                <td>@GetValue(row, header)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (_displayType == "json")
        {
            <pre style="white-space: pre-wrap;">@_jsonResult</pre>
        }
    </div>
    <div class="col-lg-12 col-xl-6" style="overflow-wrap: anywhere">
        <div class="d-flex justify-content-between mb-4">
            <h5>Response</h5>
            <button @onclick="ClearResponse" class="btn btn-warning btn-sm">Clear</button>
        </div>
        @_response
    </div>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@code {
    [Inject] protected DataService DataService { get; set; } = default!;

    private bool _isLoading = false;
    private bool _isResponse = false;
    private bool _showExamples = false;
    private string _query = "CorporationDepartment?fields=id,dateAdded,name,enabled&where=id>0&orderBy=enabled,dateAdded";
    private string _selectedType = "query";
    private MarkupString _response = new();
    private string _jsonResult = "";
    private string _resultDynanmic = "";
    private List<string> _types = new List<string> { "query", "search", "entity", "any" };
    private List<IDictionary<string, object>> _data = new();
    private HashSet<string> _columnNames = new();
    private JsonFlattener _flattener = new();
    private JsonSerializerFlattenOptions _options = new() { StartToken = "data", MaxDepth = 2 };
    private string _displayType = "table";
    private Dictionary<string, string> _examples = new()
        {
            ["CorporationDepartment1"] = "CorporationDepartment?fields=id,dateAdded,name,enabled&where=id>0&orderBy=enabled,dateAdded",
            ["CorporationDepartment2"] = "CorporationDepartment?fields=id,dateAdded,name&where=id>0&orderBy=-dateAdded",
            ["Candidate1"] = "Candidate?fields=id,firstName,dateAdded,owner&query=dateAdded:[20170711000000 TO *]&sort=dateAdded",
        };

    protected override void OnInitialized()
    {
        WriteLog($"Initialized with {BullhornSettings.Value.UserName} Bullhorn user account.");
    }

    private void SetType(string value)
    {
        _selectedType = value;
    }

    private async Task SubmitAsync()
    {
        _isLoading = true;

        WriteLog(_query);

        try
        {
            var response = await DataService.GetAsync($"{GetType()}/{_query}", 100, 0);

            WriteLog($"Response status code: {response.StatusCode}");
            WriteLog($"Uri: {response.RequestMessage.RequestUri}");

            SetJsonResult(await response.Content.ReadAsStringAsync());

            var stream = await response.Content.ReadAsStreamAsync();

            _data = await _flattener.FlattenAsync(stream, _options);

            _columnNames = JsonTableHelper.ExtractColumnNames(_data);
        }
        catch (Exception err)
        {
            WriteError(err.Message);
        }

        _isLoading = false;

        string GetType() => _selectedType == "any" ? "" : _selectedType;
    }

    private void SetJsonResult(string json)
    {
        _jsonResult = json;

        if (_jsonResult.Contains("errorMessage"))
        {
            WriteError(json);
        }
    }

    private void WriteLog(string message)
    {
        _response = new MarkupString($"<p><small class=\"text-secondary\">{DateTime.Now}</small>: {message}</p>" + _response);
    }

    private void WriteError(string message)
    {
        WriteLog($"<span class=\"text-danger\">{message}</span>");
    }

    private async Task GetData()
    {
        //_data = await Task.Run(() => flattener.Flatten(GetJsonSample(), options));

        var response = await DataService.GetAsync($"{_selectedType}/{_query}", 100, 0);

        var json = await response.Content.ReadAsStringAsync();

        _data = await _flattener.FlattenAsync(new MemoryStream(Encoding.UTF8.GetBytes(json)), _options);
        //_data = await flattener.FlattenAsync(new MemoryStream(Encoding.UTF8.GetBytes(GetJsonSample())), options);

        _columnNames = JsonTableHelper.ExtractColumnNames(_data);
    }

    private void ClearResponse()
    {
        _response = new MarkupString("");
    }

    private string GetJsonSample2()
    {
        return
                                                         """"
{"total":17,"start":0,"count":17,"data":[{"id":12647,"dateAdded":1322826368183,"name":"FS Tech","enabled":true},{"id":12648,"dateAdded":1322826368213,"name":"FS Finance","enabled":true},{"id":12649,"dateAdded":1322826368213,"name":"C & I Tech","enabled":true},{"id":12650,"dateAdded":1322826368230,"name":"C & I Finance","enabled":true},{"id":12651,"dateAdded":1322826368230,"name":"Prof Serv","enabled":true},{"id":12652,"dateAdded":1322826368260,"name":"Lothbury","enabled":true},{"id":12653,"dateAdded":1322826368277,"name":"US FS","enabled":true},{"id":12654,"dateAdded":1322826368290,"name":"US C & I","enabled":true},{"id":12655,"dateAdded":1322826368307,"name":"Mission Control","enabled":true},{"id":13504,"dateAdded":1332243903857,"name":"Twenty Recruitment","enabled":true},{"id":13566,"dateAdded":1333361273607,"name":"IT","enabled":true},{"id":15424,"dateAdded":1349771399330,"name":"Twenty Smoke Test","enabled":true},{"id":17252,"dateAdded":1364234627347,"name":"FS Operations","enabled":true},{"id":19663,"dateAdded":1386841255297,"name":"Energy","enabled":true},{"id":19664,"dateAdded":1386841255330,"name":"Health","enabled":true},{"id":19665,"dateAdded":1386841255343,"name":"Digital","enabled":true},{"id":21565,"dateAdded":1400507193687,"name":"FS Compliance","enabled":true}]}
"""";
    }

    private string GetValue(IDictionary<string, object> row, string header)
    {
        var value = JsonTableHelper.GetValueAsString(row, header);

        if (DateColumnChecker.ContainsDateColumn(header))
        {
            return DateColumnChecker.ParseValueAsDateTime(header, value)?.ToString() ?? "Date not parsed";
        }

        return value;
    }
}