@page "/"
@using ApiBureau.Bullhorn.Api.Extensions;
@using ApiBureau.Bullhorn.Api.Helpers;
@using CodeCapital.System.Text.Json;
@using System.Text;
@using System.Text.RegularExpressions;
@using System.Globalization;
<PageTitle>Bullhorn API Browser</PageTitle>
<div class="row mt-4">
    <div class="col-md-12 col-lg-12">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <InputRadioGroup Value="_selectedType" Name="filter" TValue="ApiType" ValueExpression="() => _selectedType" ValueChanged="(e) => SetType(e)">
                @foreach (var item in Enum.GetValues<ApiType>())
                {
                    <div class="form-check form-check-inline">
                        <InputRadio Name="filter" Value="item" id="@($"radio-{item}")" class="form-check-input action" />
                        <label class="form-check-label action" for="@($"radio-{item}")">@GetApiTypeString(item)</label>
                    </div>
                }
            </InputRadioGroup>
            <InputTextArea @bind-Value="_defaultQuery" rows="5" class="form-control mt-3" id="exampleFormControlTextarea1" />
            <div class="mt-3 d-flex justify-content-between">
                <button class="btn btn-primary btn-sm" @onclick="SubmitAsync">
                    @if (_isLoading)
                    {
                        <i class="fa-solid fa-spinner fa-spin-pulse me-2"></i>
                    }
                    Submit
                </button>
                <button class="btn btn-info btn-sm" @onclick="() => _showExamples = !_showExamples">Toggle examples</button>
                @*<button class="btn btn-secondary" @onclick="GetData">Get Data</button>*@
            </div>
            @if (_showExamples)
            {
                <p class="mt-3"><a href="https://bullhorn.github.io/rest-api-docs/" target="_blank" rel="noopener">REST API Documentation</a></p>

                @foreach (var example in _examples)
                {
                    <Example Temp="example" Callback="OnSelection" />
                }

                <p>
                    3) Get all columns from Sendout with more conditions:
                    date format: 'dd/mm/yyyy hh:mm:ss'
                    <pre>query/Sendout?fields=id,candidate,dateAdded,jobOrder&where=(id>0) AND dateAdded > '10/02/2017 00:00:00' AND candidate.lastName='Smith'</pre>
                </p>
                <p>
                    4) Get selected columns from Placements with more conditions:
                    <pre>query/Placement?fields=status,dateAdded,jobOrder,owner&where=dateAdded > '26/06/2017 00:00:00' AND dateAdded &lt; '21/07/2017 23:59:59' AND owner.id=315</pre>
                </p>
                <p>
                    5) Get selected columns from Candidates from date to current date:
                    date format: yyyymmdd hh:mm:ss'
                    <pre>search/Candidate?fields=id,firstName,dateAdded,owner,source&query=dateAdded:[20170711000000 TO *] AND -source:["" TO *]&sort=dateAdded</pre>
                </p>
                <p>
                    6) Get details about the files:
                    <pre>entity/CandidateFileAttachment/140383?fields=id,contentType</pre>
                    Get Files - entityFiles/Candidate/190922?
                    Get Files, including the file size - entity/Candidate/190922/fileAttachments?fields=id,contentType
                </p>
                <p>
                    7) Other:
                    <pre>search/Candidate?fields=id,name,customDate1&query=id:[0 TO *]&sort=-customDate1</pre>
                    <pre>query/Sendout?fields=id,candidate,dateAdded,jobOrder&where=candidate.id=1170383&orderBy=dateAdded</pre>
                    <pre>query/Appointment?fields=id,candidateReference,dateAdded&where=candidateReference.id=1171312&orderBy=dateAdded</pre>
                    <pre>query/JobOrderEditHistoryFieldChange?fields=newValue,oldValue,display,columnName,editHistory(dateAdded)&where=columnName='status' AND editHistory.dateAdded>'01/01/2021 00:00:00'&orderBy=-id</pre>
                    <pre>search/Note?fields=id,dateAdded,action,commentingPerson&query=dateAdded:[20210101000000 TO *] AND action:'Phone Call'&sort=-dateAdded</pre>
                    <pre>search/Candidate?fields=id,name,owner(id,firstName,lastName),status,dateLastComment,dateAdded&query=isDeleted:0 AND notes.id:"^^action:(Phone Call) AND commentingPerson:(+123456) AND isDeleted:false"&sort=-dateAdded</pre>
                    <pre>search/Candidate?fields=id,name,owner(id,firstName,lastName),status,dateLastComment,dateAdded&query=isDeleted:0 AND notes.id:"^^action:(gdpr \"client call\") AND commentingPerson:(46 355) AND isDeleted:false"&sort=-dateAdded</pre>
                </p>
            }
        </div>
    </div>
    <div class="col-lg-12 col-xl-6">
        <h5>Result</h5>
        <div class="col-12 mb-3">
            <button class="btn btn-success btn-sm" @onclick="@(() => _displayType = DisplayType.Table)">Table</button>
            <button class="btn btn-success btn-sm" @onclick="@(() => _displayType = DisplayType.Json)">JSON</button>
            <button class="btn btn-success btn-sm" @onclick="@(() => _displayType = DisplayType.JsonFormatted)">JSON Formatted</button>
        </div>
        @if (_displayType == DisplayType.Table)
        {
            <table class="table table-sm small">
                <thead>
                    <tr>
                        @foreach (var item in _columnNames)
                        {
                            <th>@item</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in _data)
                    {
                        <tr>
                            @foreach (var header in _columnNames)
                            {
                                <td>@GetValue(row, header)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (_displayType == DisplayType.Json)
        {
            <pre style="white-space: pre-wrap;">@_jsonResult</pre>
        }
        else if (_displayType == DisplayType.JsonFormatted)
        {
            <pre style="white-space: pre-wrap;">@_jsonResultFormatted</pre>
        }
    </div>
    <div class="col-lg-12 col-xl-6" style="overflow-wrap: anywhere">
        <div class="d-flex justify-content-between mb-4">
            <h5>Response</h5>
            <button @onclick="ClearResponse" class="btn btn-warning btn-sm">Clear</button>
        </div>
        @_response
    </div>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@